@font-face {
  font-family: "SeeD Computer";
  src: url("./../../../assets/fonts/seed-computer.otf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@property --mainColor1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #4d4d4d;
}
@property --mainColor2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #d3d3d3;
}

@layer base {
  body.ff8-theme {
    background-color: #111724;
    color: #ccc;
    font-family: "SeeD Computer", sans-serif;
  }
}
.ff8-theme {
  .menus-block {
    @apply grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    grid-auto-rows: auto;
    gap: 8px;
  }

  .block-bg-gradient {
    @apply border-4;
    border: outset; /* no class for border-outset. should extend a class for outset in tailwind.config.js */
    border-color: #848286 #282828 #282828 #848286; /* top right bottom left */
    background: linear-gradient(
      to right,
      #414141,
      #494949,
      /* #515151, */ #595959,
      #636164 50%,
      #696969 75%
    );
  }
  .secondary-block {
    /* @apply sm:w-3/8; */
    @apply sm:text-lg;
    @apply md:text-xl;
    @apply lg:text-2xl;
    @apply font-light;
  }
  .help-text-block {
    @apply h-20;
    @apply content-evenly;
    @apply px-4;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column: span 4 / span 4;
  }
  .summary-block {
    @apply ml-4;
    @apply mr-2;
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    grid-row-start: 2;
  }
  .portfolio-links-block {
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 1;
  }
  .utility-info-block {
    @apply px-4;
    grid-column-start: 5;
    grid-row-start: 6;
    grid-row-end: 8;
    grid-row-span: span 1 / span 1;
  }
  .current-game-location-block {
    @apply h-20;
    @apply content-evenly;
    @apply px-4;
    grid-column-start: 1;
    grid-row-start: 7;
    grid-column: span 4 / span 4;
  }
  .portfolio-link a {
    /* --color1: rgba(0, 0, 0, 0.75);
  --color2: rgba(0, 0, 0, 0); */
    background: linear-gradient(to right, var(--color1), var(--color2));
    transition: color 250ms ease;
  }
}
