@layer base {
  body {
    /* background-color: #111724; */
    background: linear-gradient(135deg, #04009d 0%, #06004d 100%);
    color: #ccc;
    font-family: "Myriad Pro", sans-serif;
  }
}

@property --color1 {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(0, 0, 0, 0.75);
}

@property --color2 {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(0, 0, 0, 0);
}

.portfolio-link a {
  /* --color1: rgba(0, 0, 0, 0.75);
  --color2: rgba(0, 0, 0, 0); */
  background: linear-gradient(to right, var(--color1), var(--color2));
  /* transition: --color1 0.3s ease, --color2 0.3s ease; */
}

@keyframes colorchange {
  0% {
    --color1: rgba(0, 0, 0, 0.75);
  }
  50% {
    --color1: rgba(150, 150, 150, 0.75);
  }
  100% {
    --color1: rgba(0, 0, 0, 0.75);
  }
}

.portfolio-link a:focus,
.portfolio-link a:hover,
.portfolio-link a:active {
  color: #b1e0e8;
  animation: colorchange 1s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.portfolio-link a {
  cursor: pointer;
}
